.title-page {
    width: 40%;
    margin: 20px auto;
    font-size: 2em;
    font-family: monospace;
    text-align: center;
    border-top: 1px dashed $color;
    transition: 0.3s linear;
    box-sizing: border-box;
    cursor: pointer;
    
}
.active {
    color: tan;
    border-color: tan;
    border-style: solid;
}