block variables
    - var keywords = 'Webpack Pug Sass Js jQ'
    - var description = 'test webpack project'
    - var pageTitle = 'test webpack'

doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(name="keywords" content=keywords)
        meta(name="description" content=description)
        title=pageTitle
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
    body  
        include ./blocks/nav-menu/nav-menu.pug
        include ./blocks/title/title.pug
        +nav-menu({
            menuElements: [
                {textLink: 'HOME', href: './index.html'},
                {textLink: 'page 1', href: './page1.html'},
                {textLink: 'page 2', href: './page2.html'},
                {textLink: 'page 3', href: './page3.html'},
            ]
        })

        block content
            +title-page({ text: 'tag: h1, page: HOME'})