$famaly-base: 'monospace';
$body-color: black;
$main-color: tan;
$font-base: 14px;

body {
    font-size: $font-base;
    font-family: $famaly-base;
    background-color: $body-color;
}

@import '../pug/blocks/title/title.scss';
